 #footer-container {
     background-color: rgb(212, 198, 250);
     position: fixed;
     bottom: 1rem;
     left: 50%;
     transform: translateX(-50%);
     height: 6rem;
     width: min(95vw, 900px);
     border-radius: 14px;

     display: flex;
     justify-content: center;
     align-items: flex-end;
     padding-bottom: 0.8rem;
     z-index: 10;
 }


 .footer-heading {
     display: flex;
     flex-direction: row;
     gap: 1.5rem;
     text-align: center;
     border-radius: 10px;
 }

 .footer-heading h2 {
     margin-bottom: 2rem;
 }

 .footer-heading a {
     font-family: 'Montserrat';
     color: rgb(91, 42, 165);
     text-decoration: none;
     font-size: 16px;
     display: inline-block;
 }

 .footer-heading a:hover {
     color: rgb(168, 112, 216);
     font-style: italic;
 }

 .footer-heading a:active {
     font-weight: bolder;
     color: rgb(155, 112, 216);
 }

 .footer-heading.c {
     font-family: 'Montserrat';
     color: rgb(91, 42, 165);
     text-decoration: none;
     margin-bottom: 0.25rem;
     font-size: 40px;
     display: flex;
     gap: 1rem;
     white-space: nowrap;
     font-size: 16px;
 }


 .footer-heading.b {
     position: absolute;
     top: -55px;
     left: 50%;
     transform: translateX(-50%);
 }

 .footer-heading.b img {
     width: 80px;
     height: auto;
 }

 .clickeeth {
     font-weight: bolder;
     font-size: 18px;
 }

 .clickeeth a:active {
     font-weight: bolder;
     font-size: 25px;
     color: rgb(91, 42, 165);
     font-style: none;
 }

 @media (max-width: 768px) {

     #footer-container {
         height: auto;
         padding: 0.7rem 1rem;
     }

     .footer-heading.c {
         font-size: 13px;
         gap: 0.7rem;
     }

     .footer-heading.b img {
         width: 65px;
     }
 }