html, body
{
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("https://i.pinimg.com/1200x/e7/99/23/e79923913d006dce7096e956d64f1900.jpg");
    background-size: cover;
}

h1
{
    color:rgb(0, 0, 0);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

