*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    height: 100%;
}

#container
{
    min-height: 100%;
}

#main
{
    overflow: auto;
    padding-bottom: 15rem;
}

h1
{
    color:rgb(0, 0, 0);
    font-size: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-align: center;
}

p
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myVideo 
{
    position: fixed;    
    right: 0;
    bottom: 0;
    min-width: 100%;    
    min-height: 100%;   
    z-index: -1;           
    object-fit: cover;  
}

#footer-container                   /* i only did like super basic stylings so it looks ugly i think maybe*/
{
    background-color: peachpuff;
    position: relative;
    height: 15rem;
    margin-top: -15rem;
    clear: both;
    text-align: center;
    padding-top: 2rem;
}

.footer
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-heading
{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: left;
}

.footer-heading h2
{
    margin-bottom: 2rem;
}

.footer-heading a
{
    color: brown;
    text-decoration: none;
    margin-bottom: 0.25rem;
}

.footer-heading a:hover
{
    color: palevioletred;
    font-style: italic;
}

.footer-heading a:active
{
    font-weight: bolder;
    color: palevioletred
}