    @font-face {
        font-family: 'Work Sans';
        src: url('images/WorkSans-VariableFont_wght.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Montserrat';
        src: url('images/Montserrat-VariableFont_wght.ttf') format('truetype');
    }

    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    html,
    body {
        overflow: hidden;
        height: 100%;
    }

    #container {
        min-height: 100%;
    }

    #main {
        overflow: auto;
        padding-bottom: 6rem;
    }

    h1 {
        font-size: 100px;
        color: #8b87f2;
        font-family: 'Work Sans';
        text-shadow: -.030em .030em #b4baed, -.08em .08em #dbd7e7;
        font-weight: 1000;
        text-align: center;
    }

    p {
        font-family: 'Montserrat';
    }

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -1;
        object-fit: cover;
    }


    #center-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    #text-container {
        background: rgba(218, 180, 232, 0.05);
        backdrop-filter: blur(8px);
        padding: 2rem 3rem;
        border-radius: 20px;
        text-align: center;
        box-shadow: 0 0 20px rgba(240, 242, 252, 0.05);
        gap: 1.5rem;
        padding-bottom: 1rem;
    }

    #text-container p {
        margin-top: 1rem;
        font-family: 'Montserrat';
        color: rgb(91, 42, 165);

    }

    #bigbutton {
        padding: 1rem 2rem;
        font-size: 25px;
        font-family: 'Montserrat';
        border-radius: 15px;
        border: none;
        cursor: pointer;
        transition-duration: 0.5s;
        color: rgb(152, 136, 217);
    }

    #bigbutton:hover {
        background-color: rgba(221, 223, 251, 0.4);
        font-size: 45px;
    }