@font-face {
    font-family: 'Work Sans';
    src: url('../images/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../images/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
}

.form-content label,
.form-content select,
.form-content p {
    display: block;
    margin-bottom: 6px;
}

.form-content {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 12px;
}

.form-content label {
    min-width: 120px;

}

.formy form {
    width: 100%;
    max-width: 600px;
}

.inputy {
    padding: 0.6rem;
    border-radius: 6px;
    border: none;
}

.buttonr {
    display: block;
    margin: 1.5rem auto 0 auto;
}

.form-content textarea {
    width: 100%;
    resize: vertical;
    font-family: 'Space Grotesk';
}

.form-header {
    display: flex;
    justify-content: space-between;
    /* title left, button right */
    align-items: center;
    margin-bottom: 1rem;
}

.form-title {
    font-family: 'Work Sans', sans-serif;
    font-size: 4rem;
    color: #8b87f2;
    font-weight: 700;
}

@media (max-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    .formy {
        width: 90vw;
        max-height: 75vh;
        padding: 1.5rem;
    }

    .form-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-content label {
        min-width: unset;
    }
}

.formy {
    font-family: 'Space Grotesk', sans-serif;
}

.small-button {
    padding: 0.7rem 1.5rem;
    font-size: 14px;
    font-family: 'Montserrat';
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    color: rgb(152, 136, 217);
    backdrop-filter: blur(5px);
}

.small-button:hover {
    background-color: rgba(221, 223, 251, 0.4);
    transform: scale(1.1);
}