* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 15rem;
}

h1 {
    font-size: 100px;
    color: #8b87f2;
    font-family: 'Comfortaa';
    text-shadow: -.030em .030em #b4baed, -.08em .08em #dbd7e7;
    font-weight: 100;
    text-align: center;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.flex-domain {
    display: flex;
    justify-content: center;
    margin-top: 1%
}

.pageList {
    display: flex;
    width: 70em;
    height: 17em;
    padding: 1.5rem;
    border-radius: 5%;
    backdrop-filter: blur(8px);
    align-items: flex-start;
    justify-content: space-around;
    overflow-y: auto;
}

.page-Set {
    display: flex;
    flex-direction: column;
    line-height: 2.1em;
    font-size: 22px;
    max-height: 21em;
}

.pageList a {
    color: #57559c
}

.pageList a:hover {
    color: #1c0b2c;
    font-weight: bolder;
}


#footer-container {
    background-color: rgb(212, 198, 250);
    position: relative;
    height: 7rem;
    margin-top: -8rem;
    clear: both;
    text-align: center;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    width: 50%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.footer-heading {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    font-family: 'Comfortaa';
    color: rgb(91, 42, 165);
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.footer-heading a:hover {
    color: rgb(168, 112, 216);
    font-style: italic;
}

.footer-heading a:active {
    font-weight: bolder;
    color: rgb(155, 112, 216);
}

.footer-heading.c {
    font-family: 'Comfortaa';
    color: rgb(91, 42, 165);
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-size: 40px;
}


.footer-heading.b {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.footer-heading.b img {
    width: 100px;
    height: auto;
}

.clickeeth {
    font-weight: bolder;
    font-size: 25px;
}

.clickeeth a:active {
    font-weight: bolder;
    font-size: 25px;
    color: rgb(91, 42, 165);
    font-style: none;
}