@font-face {
    font-family: 'Work Sans';
    src: url('../images/WorkSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../images/Montserrat-VariableFont_wght.ttf') format('truetype');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html,
body {
    overflow: hidden;
    height: 100%;
}

#container {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 8rem;
}

h1 {
    font-size: 6em;
    color: #8b87f2;
    font-family: 'Work Sans';
    text-shadow: -.030em .030em #b4baed, -.08em .08em #dbd7e7;
    font-weight: 1000;
    text-align: center;
}

p {
    font-family: 'Montserrat';
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

.subdomain1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10em;
    margin-left: 20%;
}

.subdomain2 {
    display: flex;
    margin-left: 60%;
}



.item1 {
    display: flex;
    flex-direction: column;
    width: 580px;
    height: 175px;
    backdrop-filter: blur(8px);
    margin-top: 1%;
    padding: 1em;
    flex-wrap: wrap;
    overflow-y: auto;
    position: absolute;
    border-radius: 10px;
}

.item2 {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(8px);
    width: 580px;
    height: 150px;
    margin-top: 16%;
    flex-wrap: wrap;
    overflow-y: auto;
    padding: 1em;
    border-radius: 10px;
}

.image1 {
    position: absolute;
    left: 65%;
    top: 20%;
    padding: 1em;
}

#footer-container {
    background-color: rgb(212, 198, 250);
    position: relative;
    height: 7rem;
    margin-top: -8rem;
    clear: both;
    text-align: center;
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
    width: 50vw;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.footer-heading {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    text-align: center;
    border-radius: 10px;
}

.footer-heading h2 {
    margin-bottom: 2rem;
}

.footer-heading a {
    font-family: 'Montserrat';
    color: rgb(91, 42, 165);
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.footer-heading a:hover {
    color: rgb(168, 112, 216);
    font-style: italic;
}

.footer-heading a:active {
    font-weight: bolder;
    color: rgb(155, 112, 216);
}

.footer-heading.c {
    display: flex;
    font-family: 'Montserrat';
    color: rgb(91, 42, 165);
    text-decoration: none;
    margin-bottom: 0.25rem;
    font-size: 40px;

}


.footer-heading.b {
    position: absolute;
    top: -2.8em;
    left: 50%;
    transform: translateX(-50%);
}

.footer-heading.b img {
    width: 5.5em;
    height: auto;
}